/* .brandContainer {
  border: 1px solid black;

} */

.brandMainBox {
  padding: 50px 0px 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (max-width: 1050px) {
  .brandMainBox {
    justify-content: center;
  }
}